*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 850px;

    background: #FAE6E1;

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/* estilo y estilo de letra para el nav */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    color: white;
    letter-spacing: 5px;
    font-size: 10px;
}

.nav-links a{
    color: antiquewhite;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 4px;
    background-color: aliceblue;
    margin: 5px;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: absolute;
    }
    .nav-links{

        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 5;
        color: white;
    }
    .burger{
        display: block;
    }
    
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 	100px;
    border-radius: 4px;
    font-family: 'calibri';
    color:  white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    widows: 100%;
    background: #24303c;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 28px;
    color: white;
}

.controls::placeholder{
    font-size: 0.65em;
}


/* Formulario */

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}
.form-register a{
    color: white;
    text-decoration: none;
    position: relative;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.wrap {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 3px grey; }
  
  .contenedor-formulario {
    width: 100%;
    color: #f2f2f2;
    padding: 50px; }
    .contenedor-formulario .formulario {
      width: 100%;
      margin: auto; }
      .contenedor-formulario .formulario .input-group {
        position: relative;
        margin-bottom: 32px; }
        .contenedor-formulario .formulario .input-group input[type="text"],
        .contenedor-formulario .formulario .input-group input[type="email"],
        .contenedor-formulario .formulario .input-group input[type="password"] {
          font-family: "Roboto";
          font-size: 16px;
          color: #303F9F;
          width: 100%;
          outline: none;
          padding: 15px;
          background: none;
          border: none;
          border-bottom: 2px solid #BBDEFB; }
          .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
          .contenedor-formulario .formulario .input-group input[type="email"]:focus,
          .contenedor-formulario .formulario .input-group input[type="email"]:active,
          .contenedor-formulario .formulario .input-group input[type="password"]:focus,
          .contenedor-formulario .formulario .input-group input[type="password"]:active {
            outline: none;
            border-bottom: 2px solid #303F9F; }
          .contenedor-formulario .formulario .input-group input[type="text"].error,
          .contenedor-formulario .formulario .input-group input[type="email"].error,
          .contenedor-formulario .formulario .input-group input[type="password"].error {
            border-bottom: 2px solid #D32F2F; }
            .contenedor-formulario .formulario .input-group input[type="text"].error + label,
            .contenedor-formulario .formulario .input-group input[type="email"].error + label,
            .contenedor-formulario .formulario .input-group input[type="password"].error + label {
              color: #D32F2F; }
        .contenedor-formulario .formulario .input-group label {
          color: #303F9F; }
          .contenedor-formulario .formulario .input-group label.label {
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            margin-left: 15px;
            font-size: 16px;
            line-height: 16px;
            position: absolute;
            top: 16px;
            left: 0; }
            .contenedor-formulario .formulario .input-group label.label.active {
              top: -12px;
              font-size: 12px;
              line-height: 12px;
              color: #B6B6B6; }
        .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
          display: inline-block;
          cursor: pointer;
          color: #303F9F;
          position: relative;
          padding: 5px 15px 5px 51px;
          font-size: 1em;
          border-radius: 3px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
            background: #bbdefb; }
          .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 15px;
            border-radius: 50%;
            background: none;
            border: 2px solid #303F9F; }
        .contenedor-formulario .formulario .input-group.error label {
          color: #D32F2F; }
          .contenedor-formulario .formulario .input-group.error label:hover {
            background: rgba(211, 47, 47, 0.2); }
          .contenedor-formulario .formulario .input-group.error label:before {
            border: 2px solid #D32F2F; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
          display: none; }
          .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
            display: none; }
          .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
            padding: 5px 15px;
            background: #303F9F;
            border-radius: 2px;
            color: #f2f2f2; }
        .contenedor-formulario .formulario .input-group.checkbox label:before {
          border-radius: 3px; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
          display: none; }
          .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
            display: none; }
          .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
            background: #303F9F;
            color: #f2f2f2;
            padding: 5px 15px; }
      .contenedor-formulario .formulario input[type="submit"] {
        background: #303F9F;
        border-radius: 1px;
        border: 2px solid #f2f2f2;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto";
        font-size: 16px;
        padding: 15px;
        width: 100%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario input[type="submit"]:hover {
          background: #1976D2; }

/* About us */

main .sobre-dosalamos{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-dosalamos{
    display: flex;
    justify-content: space-evenly;
}


.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/* footer DOOOOWN!  */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.imagen-about-us{
    width: 30%;
    position: relative;
    margin: 20px 0 30 0;
    top: 55%;
    left: 50%;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-dosalamos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imagen-about-us{
        width: 50%;
    }


@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 40px;
        width: 10%;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

@media screen and (max-width: 800px){
    h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 500px){
    h1{
        font-size: 30px;
        margin-bottom: 0;
    }

    h1::after{
        display: none;
    }
}
}