{% extends 'core/base_login.html'%}
{% load static %}
	{% block tittle %}
	<title>Login medico</title>
	{% endblock %}

	{% block acceso %}
	 Acceso Medico
	{% endblock %}
{% block form1 %}
	{% block login%}
		<div class="container-login100-form-btn m-t-32" >
				<button Class="login100-form-btn" OnClick="Button1_Click" >
					<a href="{% url 'vistamedico' %}">Entrar</a>
				</button>


		</div>
		<div>
			<button class="container-login100-form-btn m-t-32">
				<a href="{% url 'home' %}">volver</a>
			</button>
	{% endblock %}
{% endblock %}