{% extends 'core/base.html'%} {% load static %} {% block links %}

<title>Acceso pacientes</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'core/css/reservav1.css'%}">
<link rel="shortcut icon" href="{% static 'core//images/LogoMakr-35FpyE.png'%}" /> {% endblock %} {% block reserva %}
<section class="contenedor sobre-dosalamos">
    <form action='url' method="POST" class="formulario" id="formulario">
        {% csrf_token %}
        <img src="{% static 'core/images/reserva.png'%}" class="imgLogo" />

        <h1 class="formulario__titulo">Reservas de</h1>
        <h3 class="formulario__subtitulo">Horas</h3>
        <p class="formulario__parrafo">
            Llena este pequeño formulario para agendar hora medica.
        </p>
        {{ form.as_p }}

        <button type="submit"> Agregar </button>
    </form>
</section>
{% endblock %}